@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-red: hsl(356, 100%, 66%);
  --primary-light-red: hsl(355, 100%, 74%);
  --primary-dark-blue: hsl(208, 49%, 24%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grayish-blue: hsl(240, 2%, 79%);
  --neutral-dark-grayish-blue: hsl(207, 13%, 34%);
  --neutral-dark-black-blue: hsl(240, 10%, 16%);

  --gradient-light-red: hsl(13, 100%, 72%);
  --gradient-red: hsl(353, 100%, 62%);
  --gradient-dark-voilet: hsl(237, 17%, 21%);
  --gradient-voilet: hsl(237, 23%, 32%);

  --font-small: 16px;
  --font-normal: 18px;
  --font-medium: 27px;
  --font-large: 34px;

  --line-height: 10px;

  --border-radius: 100px;
}

body {
  margin: 0px;
  height: 100vh;
  overflow: auto;
  font-size: var(--font-small);
}

.hero {
  height: 73%;
  border-radius: 0 0 0 var(--border-radius);
  background-image: linear-gradient(
    var(--gradient-light-red),
    var(--gradient-red)
  );
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContainer {
  height: 100%;
  width: 100%;
  background-image: url(images/bg-pattern-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: -330px -250px;
  padding: 45px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImage {
  height: 100%;
}

.hamburger {
  height: 100%;
  display: flex;
  align-items: center;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 60px;
}

.heading {
  width: 100%;
  font-family: overpass;
  font-size: var(--font-large);
  font-weight: 600;
  color: var(--neutral-white);
  text-align: center;
}

.headingPara {
  width: 90%;
  font-family: overpass;
  font-weight: 300;
  color: var(--neutral-white);
  text-align: center;
}

.heroButton {
  width: 150px;
  height: 45px;
  border-radius: 50px;
  font-family: overpass;
  font-weight: 900;
}

.start {
  border: 0;
  color: var(--gradient-red);
}

.learn {
  border: 1px solid var(--neutral-white);
  background-color: transparent;
  color: var(--neutral-white);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 20px;
}

.section {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.secHeading {
  color: var(--primary-dark-blue);
  font-size: var(--font-medium);
  padding: 15px 0 0 0;
}

.illustration {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  overflow: hidden;
}

.illustration img {
  object-fit: contain;
}

.para {
  width: 74%;
  font-family: overpass;
  font-weight: 300;
  color: var(--neutral-dark-grayish-blue);
  text-align: center;
  padding: 20px 0 20px 0;
  line-height: calc(var(--font-small) + var(--line-height));
}

.section2 {
  height: 73%;
  background-image: linear-gradient(
    var(--gradient-dark-voilet),
    var(--gradient-voilet)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 var(--border-radius) 0 var(--border-radius);
  margin-top: 250px;
  position: relative;
}

.section2::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(images/bg-pattern-circles.svg);
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: 50% -230px;
  border-radius: 0 var(--border-radius) 0 var(--border-radius);
  position: absolute;
  z-index: 0;
}

.phones {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -175px;
}

.infrastructure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: 100px;
}

.infraPara {
  line-height: calc(var(--font-small) + var(--line-height));
  width: 80%;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-dark-black-blue);
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  border-radius: 0 var(--border-radius) 0 0;
  gap: 60px;
  font-family: ubuntu;
  margin-top: 50px;
}

.footerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.linksHeading {
  font-size: var(--font-normal);
  font-weight: 700;
  color: var(--neutral-white);
}

.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--neutral-grayish-blue);
}
